:root {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Blue color scheme: dodgerblue */
  --clr-blue-1: hsl(198deg 69% 46% / 45%);
  --clr-blue-2: hsl(210deg 100% 7%);
  --clr-blue-2: hsl(210deg 100% 56%);

  /* Black color scheme */
  --clr-black-1: hsl(210deg 100% 3% / 24%);
  --clr-black-2: hsl(210deg 100% 16%);
  --clr-black-3: hsl(0deg 0% 0% / 5%);
  --shadow-sm: 5px 5px 6px rgba(0, 0, 0, 0.1);
  --shadow-md: 5px 5px 12px rgba(0, 0, 0, 0.25);

  /* Spacing: */
  --sp-sm: 1rem;
  --sp-md: 2em;
  --sp-lg: 4rem;
  --sp-xlg: 8rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-size: 1.6rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Spacing */
.mb-sm {
  margin-bottom: var(--sp-sm);
}
.mb-md {
  margin-bottom: var(--sp-md);
}
.mb-lg {
  margin-bottom: var(--sp-lg);
}
.mb-xlg {
  margin-bottom: var(--sp-xlg);
}
.mt-sm {
  margin-top: var(--sp-sm);
}
.mt-md {
  margin-top: var(--sp-sm);
}
.mt-lg {
  margin-top: var(--sp-sm);
}
.mt-xlg {
  margin-top: var(--sp-sm);
}
.pb-sm {
  padding-bottom: var(--sp-sm);
}
.pb-md {
  padding-bottom: var(--sp-md);
}
.pb-lg {
  padding-bottom: var(--sp-lg);
}
.pb-xlg {
  padding-bottom: var(--sp-xlg);
}
.pt-sm {
  padding-top: var(--sp-sm);
}
.pt-md {
  padding-top: var(--sp-sm);
}
.pt-lg {
  padding-top: var(--sp-sm);
}
.pt-xlg {
  padding-top: var(--sp-sm);
}

.container {
  border: 12px double var(--clr-black-3);
  border-radius: 7px;
  max-width: 102.4rem;
  overflow: hidden;
  padding: 6.44rem;
  text-align: center;
  transition: all 0.3s ease-in;
}

h2 {
  font-size: 3.1em;
  /* margin-bottom: 2.4rem; */
}

.input {
  border-radius: 50rem;
  margin-right: 0.8rem;
  margin-bottom: --mb-md;
  padding: 0.95em 1.2em;
  border: 1px solid var(--clr-black-1);
  transition: all 0.3s ease-in;
  outline: none;
}

.input:hover,
.input:focus {
  box-shadow: var(--shadow-sm);
  /* border-color: var(--clr-blue-1); */
}

.input:focus-within {
  /* box-shadow: var(--shadow-sm); */
  border-color: var(--clr-blue-1);
}

.btn {
  border: 3px solid var(--clr-black-2);
  border-radius: 2.4em;
  cursor: pointer;
  font-family: inherit;
  outline: 0;
  padding: 0.7em 1.2em 0.8em;
  transition: all 0.3s ease-in;
  margin-bottom: var(--sp-lg);
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--clr-black-2);
  box-shadow: var(--shadow-sm);
  color: #fff;
  outline: 0;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  height: 5px;
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  text-align: center;
  width: 50%;
}

hr::before {
  background: #fff;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.numberList {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
